.logo {
  float: left;
  margin-right: 10px;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-size: 20px;
}
.logo-login {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  margin: 40px 0;
  font-size: 60px;
}

.ant-menu-item > svg {
  font-size: 15px;
  margin: 0px 2px -2px 0;
}

footer.ant-layout-footer {
  text-align: center;
  border-top: 1px solid #dddddd;
}

.cart-thumb {
  width: 50px;
}

.extra {
  position: absolute;
  right: 0;
  top: 0;
  color: #ffffff;
  padding: 10px 20px;
}

.extra .basket {
  float: right;
  margin: 5px 10px 0 0;
}

.extra-user > span {
  margin: 0 8px 0 0;
}

.extra-user a svg {
  margin: 0px 5px -2px 0px;
}

.extra-user a {
  color: #fff !important;
}

.extra .basket svg {
  font-size: 30px;
}

.extra-user {
  float: left;
  margin: -10px 15px 0 0;
}

.extra-user > svg {
  margin: -5px 10px;
  font-size: 20px;
}

.extra sup {
  top: 30px;
  right: -2px;
}

.content {
  background: #ffffff;
  padding: 24px;
  margin: 24px;
}

.ant-breadcrumb {
  margin: 20px 24px 0 !important;
}

.content-buttons {
  padding: 0 0 24px 0;
}

.user-icon {
  font-size: 15px;
}
