.logo {
  float: left;
  margin-right: 10px;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-size: 20px;
}

.extra {
  position: absolute;
  right: 0;
  top: 0;
  color: #ffffff;
  padding: 10px 20px;
}

.extra svg {
  font-size: 30px;
}

.extra sup {
  top: 30px;
  right: -2px;
}

.content {
  background: #ffffff;
  padding: 24px;
  margin: 24px;
}

.ant-breadcrumb {
  margin: 20px 24px 0 !important;
}

.content-buttons {
  padding: 0 0 24px 0;
}
